.u-section-1 {
  background-image: linear-gradient(#f2f2f2, #05470e);
  min-height: 1054px;
}

.u-section-1 .u-image-1 {
  height: 378px;
  filter: brightness(0.45);
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -268px calc(((100% - 1140px) / 2) + 584px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-tabs-1 {
  min-height: 615px;
  width: 1140px;
  background-image: none;
  height: auto;
  margin: 202px auto 60px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
}

.u-section-1 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 105px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 60px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  grid-template-rows: auto;
  margin: 52px auto 0 -5px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 461px;
}

.u-section-1 .u-list-item-1 {
  background-position: 44.89% 50%;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/4290754171.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin: 0 87px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/tni-1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin: 0 87px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-position: 50% 50%;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/895050_720.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin: 0 87px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1225px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -273px;
    margin-right: calc(((100% - 940px) / 2) + 384px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-tabs-1 {
    min-height: 653px;
    width: 940px;
    margin-top: 207px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 19px 25px -95px 13px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 380px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1150px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 720px) / 2) + 164px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-tabs-1 {
    width: 720px;
    margin-top: 221px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 25px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 399px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 898px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1410px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-tabs-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin: 12px 15px -58px 25px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  width: 463px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 817px;
  grid-template-rows: auto;
  margin: 37px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 461px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/melihat-jakarta-yang-tidak-lagi-masuk-kota-paling-polusi-di-dunia-6_169.jpeg");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 87px 0 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 10px 15px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bbm.jpg.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 87px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/will-breen-WGcYmS4xDcU-unsplash.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 60px 113px 0;
}

.u-section-3 .u-accordion-1 {
  width: 570px;
  margin: 21px auto 60px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-1 {
  color: rgb(153, 153, 153);
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 213px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  min-height: 124px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-3 .u-icon-2 {
  height: 81px;
  width: 81px;
  color: rgb(179, 2, 10) !important;
  margin: 11px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 66px;
  margin: -2px auto 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 30px;
}

.u-section-3 .u-icon-3 {
  color: rgb(153, 153, 153);
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 13px;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 155px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}